@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Erişim Reddedildi</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h2 style="color: red;">Erişim Reddedildi</h2>
		<p>Bu sayfaya erişmek için yeterli yetkiniz bulunmamaktadır.</p>

		<a href="/">Giriş Sayfasına dön</a>
	</div>
</body>
</html>
