@model List<Work>

@{
    ViewData["Title"] = "Görev Tamamla";
}

@if (Model.Count != 0)
{
    @foreach (var work in Model)
    {
        <div class="card" style="width: 80rem;margin-bottom:10px;">
            <div class="card-body">
                <div style="background-color:black;color:white;text-align:center">
                    <h5 class="card-title">@work.Title</h5>
                </div>
                <p class="card-text">@work.Description</p>
                <form asp-action="Complete" method="post">
                    <label for="comment">Yorum Giriniz</label>
                    <input type="text" name="comment" />

                    <input type="hidden" name="id" value="@work.WorkID" />

                    <button type="submit" class="btn btn-outline-info">Tamamla</button>
                </form>
               
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        Henüz bir iş eklenmemiş.
    </div>
}