@model List<Work>

@{
    ViewData["Title"] = "Görev Takibi";
}

@if (Model.Count != 0)
{
    @foreach (var work in Model)
    {
        <div class="card" style="width: 80rem;margin-bottom:10px;">
            <div class="card-body">
                <div style="background-color:black;color:white;text-align:center">
                    <h5 class="card-title">@work.Title</h5>
                </div>
                <p class="card-text">@work.Description</p>
                <p class="card-text">İletilen Tarih:</p>
                <p class="card-text">Yapılan Tarih:</p>
                @if (work.IsCompleted == 1) {
                    <p class="card-text">İş Durumu: Tamamlandı</p>
                }else{
                    <p class="card-text">İş Durumu: Yapılıyor</p>
                }
                @if (!string.IsNullOrEmpty(work.Comment))
                {
                    <p class="card-text">İş Yorumu: @work.Comment</p>
                }
                else
                {
                    <p class="card-text">İş Yorumu: Henüz yorum yok.</p>
                }

            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        Henüz bir iş eklenmemiş.
    </div>
}